.search-bar-container {
    position: relative;
    .search-bar-input {
        width: 100%;
        border: 1px solid #e0e0e0;
        border-radius: 25px;
        padding: 15px 15px;
    }
    
    .search-bar-input::placeholder {
        padding-left: 20px;
        color: #e0e0e0;
    }

    i {
        position: absolute;
        top: 20px;
        left: 20px;
        color: #e0e0e0;
    }

    .search-bar-input:not(:placeholder-shown) + i {
        display: none;
    }
}