.row {
    margin: 0 -8px;
}

.col-third {
    float: left;
    width: calc(100% / 3);
}

.introduction-container {
    min-height: 500px;
    background: url('../../assets/images/introduction/introduction-bg.png') no-repeat center center;
    background-size: cover;
    padding: 32px;
    .general-introduction {
        display: flex;
        justify-content: center;
        font-size: 36px;
        font-weight: 600;
    }
    .orange-line {
        margin: 0 auto;
        width: 100%;
        color: #f54a00;
        font-size: 32px;
        font-weight: 900;
        display: flex;
        justify-content: center;
        padding-bottom: 16px;
    }
    .introduction-paragraph {
        width: 60%;
        font-size: 15px;
        color: #0a0a0a;
        line-height: 1.6;
        text-align: center;
        margin: 0 auto;
    }
    .introduction-item-container {
        width: 80%;
        margin: 32px auto;
        .introduction-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 20%;
            }
            .item-title {
                padding: 10px 0;
                font-size: 21px;
                font-weight: 800;
                color: #0a0a0a;
                text-align: center;
            }
            .item-description {
                font-size: 15px;
                color: #0a0a0a;
                padding: 0 8px;
                text-align: center;
            }
        }
    }
}